:root {
  --dark-green-3: #00BF63;
  --light-green-3: #CCFFE6;
  --strong-red: #FF3131;
  --strong-purple: #8C52FF;
  --strong-light-blue: #0CC0DF;

  /* grays */
  --gray-a6: #a6a6a6;
  --gray-54: #545454;
  --gray-d9: #d9d9d9;
  --gray-e4: #e4e4e4;
  --gray-ed: #ededed;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}